html{
    height: 100%;
  }
  
  body{
    background: linear-gradient(#D098F0, #AD2A89);
    background-repeat:no-repeat;
  }
  
  
  .contenedor-all{
   background: linear-gradient(#A82BD1, #5E1476);
   width: 800px;
   height: 400px;
   border-radius:20px;
   position:absolute;
   left:18%;
   top:15%;
   display:flex;
   flex-wrap:wrap;
   justify-content: center;
  }
  
  .contenedor-all .tarjeta-lados{
    top: 10%;
    position: relative;
    background-color: white;
    width: 230px;
    height: 330px;
    border-radius: 8px;
    overflow:hidden;
    text-align: center;
    border: 1px rgb(85,85,85) solid;
  }
  
  .contenedor-all .tarjeta-lados img{
      width:100px;
      height:100px;
      border-radius:70px;
  }
  .contenedor-all .tarjeta-lados h1{
    font-family: 'century gothic';
    color: #BD36CA;
  }
  
  .contenedor-all .tarjeta-lados p{
    font-family: 'century gothic';
    text-align:center;
    font-size:10px;
  }
  .contenedor-all .tarjeta-lados h2{
    font-family: 'century gothic';
    text-align:center;
    color: #BD36CA;
    font-size:40px;
  }
  .contenedor-all .tarjeta-medio{
    top: 6%;
    position: relative;
    background-color: white;
    width: 230px;
    height: 360px;
    border-radius: 8px;
    overflow:hidden;
    text-align: center;
    border: 1px rgb(85,85,85) solid;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  }
  
  .contenedor-all .tarjeta-medio img{
      width:100px;
      height:100px;
      border-radius:70px;
  }
  .contenedor-all .tarjeta-medio h1{
    font-family: 'century gothic';
    color: #BD36CA;
  }
  
  .contenedor-all .tarjeta-medio p{
    font-family: 'century gothic';
    text-align:center;
    font-size:10px;
  }
  .contenedor-all .tarjeta-medio h2{
    font-family: 'century gothic';
    text-align:center;
    color: #BD36CA;
    font-size:40px;
  }
  .tarjeta-medio:hover .tarjeta-lados:hover
  {
    opacity: 30%;
  }

 .tarjeta-medio:hover .tarjeta-lados:hover{
   transform: scale(1.25);
   opacity: 1;
 }